@import './variables';
@import './mixins';
@import './Header.scss';
@import './Home.scss';
@import './About.scss';
@import './Skills.scss';
@import './Projects.scss';
@import './Contact.scss';

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  background-color: $body-bg-color;
  color: $secondary-color;
}

.App {
  text-align: center;
  background-color: $body-bg-color;
  min-height: 100vh;
}
