.contact {
  background-color: #f9f9f9;
  padding: 4rem 2rem;
  text-align: center;

  h3 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1.5rem;
  }

  .social-links {
    margin-bottom: 2rem;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin: 0 1rem;

        div {
          display: inline-block;
          margin-right: 0.5rem;
        }

        a {
          font-size: 1.2rem;
          color: #0077b5;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: #0056b3;
          }
        }
      }
    }
  }

  .resume-download {
    background-color: #f9f9f9;
    padding: 4rem 2rem;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
    
    p {
      font-size: 1rem;
      color: #555;
      margin-bottom: 1.5rem;
    }

    .resume-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
      }
    }
  }
}

// Media Queries
@media (max-width: 768px) {
  .contact {
    padding: 2rem 1rem;

    h3 {
      font-size: 2rem;
    }

    .social-links {
      ul {
        flex-direction: column; // Stack the social links vertically
        align-items: center; // Center the items

        li {
          margin: 0.5rem 0; // Add vertical margin for spacing
        }
      }
    }

    .resume-download {
      p {
        font-size: 0.9rem; // Slightly smaller text on mobile
      }

      .resume-button {
        font-size: 0.9rem; // Smaller button text
        padding: 0.5rem 1rem; // Adjust padding
      }
    }
  }
}

@media (max-width: 480px) {
  .contact {
    h3 {
      font-size: 1.75rem; // Further reduce font size for smaller devices
    }

    .resume-download {
      p {
        font-size: 0.8rem; // Further reduce text size
      }

      .resume-button {
        padding: 0.5rem 0.75rem; // Reduce button padding
      }
    }
  }
}
