.personal-projects-container {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  // padding: 20px;
  width          : 100%;
  overflow       : hidden;

  .personal-project-card {
    background-color: #f9f9f9;
    border          : 1px solid #ddd;
    border-radius   : 8px;
    padding         : 20px;
    margin          : 15px;
    width           : 300px;
    text-align      : center;
    transition      : box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    h2 {
      margin-bottom: 10px;
      color        : #333;
    }

    p {
      color: #666;
    }

    .tools-used {
      margin: 10px 0;
    }

    a {
      color          : #007bff;
      text-decoration: none;
      font-weight    : bold;
      display        : inline-block;
      margin-top     : 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.more {
  width: 15%;
  margin: auto;
  background-color: #007bff !important;
  color: white !important;
}

.more{
  text-decoration: none;
  @media (max-width: 768px) {
    color: white !important;
    width: 50%;
  }

}
// Media queries for responsiveness
@media (max-width: 768px) {
  .personal-projects-container {
    display: flex;

    width  : 100% !important;
    padding: 0 !important;

    .personal-project-card {
      width    : 100% !important;
      // margin: 10px 0;
    }
  }
}