.projects {
  // background-color: #f9f9f9;
  // padding: 4rem 2rem;
  // text-align: center;

  h2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 2rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 50px;
      height: 4px;
      background-color: #007bff;
      margin: 0.5rem auto;
    }
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: #f9f9f9;
    padding: 4rem 2rem;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    padding: 0;

    }
  }

  .project-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    h3 {
      font-size: 1.8rem;
      color: #007bff;
      margin-bottom: 1rem;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 250px;
      margin: 1rem 0;
      border-radius: 8px;
      transition: filter 0.3s ease;

      &:hover {
        filter: brightness(1.1);
      }
    }

    p {
      font-size: 1rem;
      color: #555;
      margin: 1rem 0;
    }

    .read-more {
      background: none;
      border: none;
      color: #007bff;
      cursor: pointer;
      font-weight: bold;
      padding: 0;
      transition: color 0.3s ease;

      &:hover {
        color: #0056b3;
      }
    }

    a {
      display: inline-block;
      color: #fff;
      background-color: #007bff;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      margin-top: 1rem;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }

    hr {
      margin: 1rem 0;
      border: none;
      border-top: 1px solid #ddd;
    }

    h4 {
      font-size: 1.2rem;
      color: #333;
      margin-top: 1rem;
    }
  }
}
