$primary-color: #4CAF50;
$secondary-color: #333;
$font-stack: 'Roboto', sans-serif;
$light-gray: #f4f4f4;
$dark-gray: #555;
$white: #fff;
$body-bg-color: #fafafa;
$header-bg-color: #282c34;
$link-color: #007BFF;
$border-radius: 5px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin box-shadow($color) {
    box-shadow: 0 2px 4px rgba($color, 0.2), 0 6px 12px rgba($color, 0.2);
  }

  .projects {
    padding: 60px 20px;
    background-color: $body-bg-color;
  
    h2 {
      color: $secondary-color;
      font-size: 2.2rem;
      text-align: center;
      margin-bottom: 30px;
    }
  
    .project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      
    }
  
    .project-card {
      background-color: $white;
      padding: 20px;
      border-radius: $border-radius;
      overflow: hidden;
      max-width: 800px;
      margin: auto;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      @include box-shadow($dark-gray);
  
      &:hover {
        transform: translateY(-5px);
        @include box-shadow(darken($dark-gray, 20%));
      }
  
      h3 {
        color: $primary-color;
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
  
      p {
        color: $dark-gray;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 15px;
      }
  
      a {
        text-decoration: none;
        color: $link-color;
        font-weight: bold;
        transition: color 0.3s ease;
  
        &:hover {
          color: darken($link-color, 15%);
        }
      }
    }
  }
  